@import './abstracts/vars';

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color:   #fff;
    color: #000;
}

@import './layout/header';
@import './block/main-block';
@import './block/content';
@import './layout/footer';
